<!DOCTYPE html>
<html lang="en">
<body>
  <form action="">
    <div>
      <label for="titulo">Titulo</label>
      <input type="text" name="titulo" placeholder="Adicione titulo">
    </div>
    <div>
      <label for="titulo">Preço</label>
      <input type="text" name="preco" placeholder="Adicione preço">
    </div>
    <div>
      <label for="titulo">Descrição</label>
      <textarea type="text" name="descricao" placeholder="Adicione descrição"></textarea>
    </div>

    <input type="submit" value="Enviar">
  </form>
</body>
</html>