
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Titulo</th>
      <th>Descrição</th>
      <th>Preço</th>
    </tr>

    <% lista.forEach(function(element, index, array) { %>
    <tr>
      <td><%= element.id %></td>
      <td><%= element.titulo %></td>
      <td><%= element.descricao %></td>
      <td><%= element.preco %></td>
    </tr>
    <% }); %>
  </table>
</body>
</html>